[Desktop Entry]
Type=Application
Version=12.2.1.0
Name=Jdeveloper 12.2.1.0 scaled
Icon=jdeveloper
Exec=jdev12.2.1.0_scaled
MimeType=application/x-jdeveloper;
