[Desktop Entry]
Type=Application
Version=12.2.1.4
Name=Jdeveloper 12.2.1.4 RBFA
Icon=jdeveloper
Exec=jdev12.2.1.4RBFA
MimeType=application/x-jdeveloper;
