[Desktop Entry]
Type=Application
Version=12.2.1.4
Name=Jdeveloper 12.2.1.4 RBFA scaled
Icon=jdeveloper
Exec=jdev12.2.1.4RBFA_scaled
MimeType=application/x-jdeveloper;
